* {
    margin: 0;
}

header {
    height: 100px;
    padding: 5px 15px 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
}

div.logo-container {
    width: 75px;
    height: 75px;
    border: 2px dotted yellow;
}

div.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    width: 85%;
    text-align: center;
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 226, 62);
    padding: 10px;

    div#rules {
        padding: 0 20px 20px 20px;
        text-align: center;
        font-size: 20px;
    }

    form {
        width: 80%;
        margin: auto;
        padding: 10px;
        background-color: lightgoldenrodyellow;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 100px);
        column-gap: 10px;
        row-gap: 35px;
        align-items: start;
        justify-items: center;

        h2 {
            font-size: 35px;
            text-decoration: underline;
        }

        h3 {
            font-style: italic;
            font-size: 25px;
        }

        label,
        input {
            font-size: 20px;
        }

        .gridCell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        #cell1 {
            grid-column: 1 / 7;
            grid-row: 1;
            align-self: center;
        }

        #cell2 {
            grid-column: 1 / 3;
            grid-row: 2;

        }

        #cell3 {
            grid-column: 3 / 5;
            grid-row: 2;
        }

        #cell4 {
            grid-column: 5 / 7;
            grid-row: 2;
        }

        #cell5 {
            grid-column: 1 / 4;
            grid-row: 3;
        }

        #cell6 {
            grid-column: 4 / 7;
            grid-row: 3;
        }

        #cell7 {
            grid-column: 1 / 7;
            grid-row: 4;
            align-self: center;

            button {
                font-size: 20px;
            }

            button:hover {
                background-color: lightgreen;
            }
        }

        div.label-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

#gridDisplay {
    display: none;
    margin: auto;
    width: 1000px;
    height: 500px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 3px solid grey;

    div {
        border: 1px solid grey;
    }
}

footer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: goldenrod;

    p {
        font-size: 20px;
        text-align: center;
    }

    p+div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }

    div.button-container {
        display: flex;
        gap: 20px;
    }

    #random:hover {
        background-color: lightskyblue;
    }

    #start:hover {
        background-color: lightgreen;
    }

    #reset:hover {
        background-color: lightcoral;
    }

    button {
        font-size: 20px;
    }

    #stepDisplay {
        padding: 10px;
        border: 3px solid yellow;
        background-color: lightgoldenrodyellow;
    }
}